.root {
  display: flex;
  height: 89px;
}

.card {
  box-shadow: 0 0 5px v(tint-black-25);
  cursor: pointer;
  position: relative;
  z-index: 1;

  + .card {
    margin-left: -20px;
  }

  &:first-of-type {
    transform: rotate(-5deg);
    top: 8px;
  }
  &:last-of-type {
    transform: rotate(5deg);
    top: 8px;
  }
  &:first-of-type:last-of-type {
    transform: rotate(0);
    top: 0;
  }
}

.empty {
  background-color: v(color-white);
}
