.root {
  align-items: center;
  background-color: v(color-white);
  border-radius: 10px;
  border: solid 1px v(color-gray-dark);
  display: flex;
  height: 89px;
  justify-content: center;
  position: relative;
  width: 64px;

  &.back {
    background-color: v(color-white);
    background-image: linear-gradient(
        90deg,
        rgba(200, 0, 0, 0.5) 50%,
        transparent 50%
      ),
      linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
    background-size: 20px 20px;
  }

  &.active {
    border-color: v(color-green);
    opacity: 0.9;
  }
}

.rankBot,
.rankTop {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: v(open-sans);
  font-size: 16px;
  justify-content: center;
  line-height: 1;
  position: absolute;

  &::after {
    font-family: v(open-sans);
    font-size: 16px;
  }

  &.spade::after {
    color: v(color-black);
    content: '♠︎';
  }
  &.heart::after {
    color: v(color-red);
    content: '♥︎';
  }
  &.club::after {
    color: v(color-black);
    content: '♣︎';
  }
  &.diamond::after {
    color: v(color-red);
    content: '♦︎';
  }
}

.rankBot {
  bottom: 4px;
  right: 4px;
  transform: rotate(180deg);
}
.rankTop {
  left: 4px;
  top: 4px;
}
