.root {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;

  .card:first-child {
    cursor: pointer;
    position: relative;
  }
  .card:last-child {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .empty {
    background-color: #ccc;
  }
}

.cardTop {
  z-index: 3;
}
.cardMid {
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 2px;
}
.cardBot {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 4px;
}

.count {
  font-family: v(open-sans);
}
